.workshops-container {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--background-card);
  border-radius: 12px;
  box-shadow: var(--shadow-secondary);
}

.workshops-container h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  position: relative;
}

.workshops-container h2::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.add-workshop-form {
  max-width: 500px;
  margin: 0 auto 3rem;
  padding: 2rem;
  background-color: var(--background-card);
  border-radius: 12px;
  box-shadow: var(--shadow-primary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-workshop-form button[type='submit'] {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.add-workshop-form button[type='submit']:hover {
  background-color: #6a4488;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.workshops-container h3 {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  background-color: white;
}

.workshops-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-primary);
  background-color: var(--background-card);
}

.workshops-table th,
.workshops-table td {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95em;
}

.workshops-table th {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.workshops-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.workshops-table tbody tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.label-add-workshop {
  font-family: var(--font-oswald);
  font-size: 1.1em;
  font-weight: 500;
  color: var(--text-color-dark);
  margin-bottom: 0.4rem;
  display: block;
}
