:root {
  --primary-color: #8156a4;
  --secondary-color: #f68b21;
  --neutral-color: #6cc8bf;
  --text-color: #333;
  --bg-color: #f0f2f5;
  --error-color: #ff4d4f

  --font-oswald: 'Oswald', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto);
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
}
