.header {
  position: relative;
  font-family: Oswald;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 2px;
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.header::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.header-primary {
  font-size: 4rem;
}

.header-secondary {
  font-family: Oswald;
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
